<div class="banner" style="background-image: linear-gradient(-225deg, rgba(76,156,72,-114.4) 0%, rgba(41,30,97,9.6) 161%), url('<%= cl_image_path "good-morning-vietnam.jpg" %> ');">
  <div class="banner-content">
    <h1>Goooood morning Cocktails</h1>
    <p>Make your own drink</p>
    <a class="btn btn-warning btn-lg">Add cocktail</a>
  </div>
</div>


