<%= link_to cocktail_path(cocktail) do %>
  <div class="col-xs-12 col-sm-4">
    <% url = cocktail.photo.blank? ? image_path("cocktail_placeholder.jpg") : cl_image_path(cocktail.photo, height: 300, width: 400) %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= url %>')">

      <div class="card-description">
        <h2><%= cocktail.name.capitalize %></h2>
        <p><% cocktail.doses.each do |dose| %>
          <%= "#{dose.description} of #{dose.ingredient.name}" %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
<% end  %>
