<div class="navbar">
  <div class="navbar-element">
     <div class="logo">
      <div>Lego</div>
    </div>
    <ul class="menu-list">
      <li><%= link_to "home", root_path %></li>
      <li>About</li>
      <li>Add Cocktail</li>
    </ul>
  </div>
</div>
