<div class="navbar">
  <div class="navbar-element">
    <ul class="menu-list">
      <li><%= link_to "home", root_path %></li>
      <li><%= link_to "Add Cocktail", new_cocktail_path(@cocktail) %></li>
    </ul>
  </div>
</div>


<!--  <div class="logo"> -->
<!-- </div> -->
