.big-banner {
  background-image: url("https://www.metro.us/sites/default/files/styles/normal_article_breakpoints_theme_metrous_desktop_1x/public/main/articles/good-morning-vietnam.jpg");
    background-color: red;
    height: 70vh;
    padding: 40px 140px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
